footer 
    background $cinza
    padding 14px 0
    p
        margin 0
        text-align center
        opensans 10
        color #fff
        span 
            display inline-block
            margin 0 3px
            +mobile()
                font-size 0
                display block
                margin 0
        a:hover
            text-decoration underline
