header
    width 100%
    height 140px
    background #6B696A;
    +below($tablet)
        height auto
    .center
        height 100%
        position relative
        clearfix()
    .logo
        display block
        width 230px
        height 100%
        position absolute
        top 0
        left 0
        background $img('wvs.png') no-repeat center
        text-indent -9999px
        +below($tablet)
            position relative
        +tablet()
            width 187px
            height 130px
            background-size 100% auto
        +mobile()
            width 165px
            height 110px
            background-size 100% auto
    #nav-desktop
        +below($tablet)
            display none
        position absolute
        width calc('100% - 236px')
        height 49px
        right 0
        bottom 17px
        padding 0 28px
        padding-right 0
        font-size 0
        overflow hidden
        text-align right
        .link
            position relative
            display inline-block
            margin-left 38px
            &:first-child
                margin-left 0
                &:before
                    display none
            &:before
                content '\00b7'
                position absolute
                left -19px
                top 17px
                opensans 14
                color #fff
            > a
                opensans 14
                color #fff
                line-height 49px
                &.active
                    font-weight 700
            .categorias
                display inline-block
                vertical-align top
                > a
                    opensans 14
                    color #fff
                    line-height 49px
                    position relative
                    margin-left 20px
                    &:before
                        content '|'
                        position absolute
                        left -15px
                        opensans 14
                        color #fff
                        cursor default
                        pointer-events none
                    &.active
                        text-decoration underline
        .social
            margin-left 40px
            display inline-block
            height 49px
            vertical-align top
            font-size 0
            a
                width 16px
                height 100%
                display inline-block
                + a
                    margin-left 10px
                &.instagram
                    background $img('instagram.png') no-repeat center
                &.facebook
                    background $img('facebook.png') no-repeat center
                &.pinterest
                    background $img('pinterest.png') no-repeat center
    .button-wrapper
        +above($tablet)
            display none
        position absolute
        bottom 0
        right 0
        height 100%
        width calc('100% - 193px')
        +mobile()
            width calc('100% - 170px')
    #mobile-toggle
        display block
        background-color transparent
        border 0
        position absolute
        right 5px
        top 50%
        margin-top -14px
        height 28px
        width 28px
        outline 0
        padding 0
        cursor pointer
        .lines
            display block
            width 100%
            height 4px
            background #fff
            position relative
            transition .3s ease
            border-radius 3px
            &:before
            &:after
                content ""
                display block
                position absolute
                left 0
                width 100%
                height 4px
                background #fff
                transition .3s ease
                border-radius 3px
            &:before
                top 7px
            &:after
                top -7px
        &.close
            .lines
                background transparent
                &:before
                &:after
                    transform-origin 50% 50%
                    top 0
                &:before
                    transform rotate3d(0,0,1,45deg)
                &:after
                    transform rotate3d(0,0,1,-45deg)
    #nav-mobile
        +above($tablet)
            display none !important
        display none
        position relative
        width 90%
        margin 0 auto 6px
        padding 30px
        padding-right 0
        z-index 2
        text-align right
        +mobile()
            margin-bottom 4px
            padding 25px
            padding-right 5px
        .link
            display block
            text-align right
            margin-top 8px
            &:first-child
                margin-top 0
            a
                opensans 14
                color #fff
                &.active
                    font-weight 700
        .categorias
            display none
        .social
            margin-left 40px
            display inline-block
            height 19px
            vertical-align top
            font-size 0
            margin-top 18px
            a
                width 16px
                height 100%
                display inline-block
                + a
                    margin-left 10px
                &.instagram
                    background $img('instagram.png') no-repeat center
                &.facebook
                    background $img('facebook.png') no-repeat center
                &.pinterest
                    background $img('pinterest.png') no-repeat center
    &.home
        background rgba(#6B696A, .85)
