.center
    width desktop-base-width
    position relative
    margin 0 auto
    &.full-width
        width 90%
        max-width 1560px
        min-width desktop-base-width
    &.full-width-max
        width 90%
        max-width 1680px
        min-width desktop-base-width
    +below($tablet)
        width 90%
        min-width auto !important

.main
    padding 50px 0 75px
    +tablet()
        padding 40px 0 60px
    +mobile()
        padding 25px 0 30px
