desktop-base-width     = 1200px
rupture.desktop-cutoff = $tablet = 1280px
rupture.mobile-cutoff  = $mobile = 768px
rupture.anti-overlap   = -1px

$bege     = #DBD9CD
$vinho    = #333
$vermelho = #555
$cinza    = #5B5B5D

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700')

opensans($size, $weight = normal)
    font-size $size + 0px
    font-family 'Open Sans', 'Helvetica', 'Arial', sans-serif
    font-weight 400
    if $weight == bold
        font-weight 700
