.clipping
    .center
        clearfix()
    .thumb
        display block
        width 17.3%
        float left
        position relative
        margin-right 3.375%
        margin-bottom 3.375%
        &:nth-child(5n)
            margin-right 0
        +tablet()
            width 22.468%
            &:nth-child(5n)
                margin-right 3.375%
            &:nth-child(4n)
                margin-right 0
        +mobile()
            width 31.083%
            &:nth-child(5n)
                margin-right 3.375%
            &:nth-child(3n)
                margin-right 0
        img
            width 100%
            display block
        .overlay
            position absolute
            top 0
            left 0
            width 100%
            height 100%
            background rgba($vinho, .8)
            text-align center
            color #fff
            padding-top 70px
            transition opacity .3s
            opacity 0
            +below($tablet)
                display none
            h3
                opensans 14
                margin 0 0 1em
            p
                opensans 10
                margin 0
        &:hover .overlay
            opacity 1

.clipping-lightbox
    display none
    position fixed
    z-index 9999
    overflow-y scroll
    top 0
    left 0
    width 100%
    height 100%
    background rgba($cinza, .95)
    color #fff
    padding 40px 0
    h3
        opensans 14
        margin 0 0 .2em
    p
        opensans 10
        margin 0
    .clipping-lightbox-close
        position absolute
        right 0
        top 0
        width 23px
        height 23px
        background $img('fechar.png') no-repeat center
    .clipping-lightbox-imagens
        margin-top 40px
        img
            display block
            max-width 100%
            margin 0 auto 40px
            +tablet()
                margin-bottom 20px
            +mobile()
                margin-bottom 10px

