.contato
    .center
        clearfix()
    #form-contato
        width 45%
        float left
        clearfix()
        input
        textarea
            display block
            width 100%
            border 1px solid $bege
            background none
            outline 0
            opensans 14
            color $vermelho
            padding 0 8px
            height 32px
            margin-bottom 3px
            +placeholder()
                color $vermelho
        input[type=submit]
            background $bege
            opensans 14 bold
            text-align center
            padding 0 35px
            width auto
            float right
            cursor pointer
            border 0
            transition background .3s, color .3s
            &:hover
                background $vermelho
                color #fff
        textarea
            height 100px
            resize none
            padding 7px 8px
        #form-contato-response
            width 100%
            display none
            float left
            border 2px solid $bege
            color $vinho
            padding 10px
            opensans 11
            text-align center
            text-transform uppercase
    .informacoes
        width 45%
        float right
        color $vermelho
        h2
            opensans 22 bold
            margin 0 0 1.2em
        p
            opensans 16
            margin 0
    .mapa
        width 100%
        height 760px
        margin-top 60px
        iframe
            display block
            position relative
            width 100%
            height 100%
    +tablet()
        #form-contato
            width 50%
        .informacoes
            h2
                font-size 20px
            p
                font-size 15px
        .mapa
            height 460px
            margin-top 45px
    +mobile()
        #form-contato
            width 100%
            margin-bottom 25px
        .informacoes
            width 100%
            h2
                font-size 18px
            p
                font-size 14px
        .mapa
            height 250px
            margin-top 30px
