.perfil
    .center
        clearfix()
    .texto
        width 42%
        float left
        opensans 12
        color $cinza
        p
            &:first-child
                margin-top 0
            &:last-child
                margin-bottom 0
    .imagem
        width 45%
        float left
        margin-left 5%
        img
            width 100%
            display block
    +tablet()
        .texto
            width 50%
    +mobile()
        .texto
            width 100%
        .imagem
            width 100%
            margin 25px 0 0
            img
                width auto
                max-width 100%
