.portfolio
    .center
        clearfix()
    .thumb
        display block
        width 19.04%
        float left
        position relative
        margin-right 1.2%
        margin-bottom 1.2%
        &:nth-child(5n)
            margin-right 0
        +tablet()
            width 24.1%
            &:nth-child(5n)
                margin-right 1.2%
            &:nth-child(4n)
                margin-right 0
        +mobile()
            width 32.533%
            &:nth-child(5n)
                margin-right 1.2%
            &:nth-child(3n)
                margin-right 0
        img
            width 100%
            display block
        .overlay
            position absolute
            top 0
            left 0
            width 100%
            height 100%
            background rgba($vinho, .8)
            text-align center
            color #fff
            transition opacity .3s
            opacity 0
            display flex
            flex-direction column
            justify-content center
            +below($tablet)
                display none
            h3
                opensans 16
                margin 0 0 .5em
            p
                opensans 12
                margin 0
        &:hover .overlay
            opacity 1

.portfolio-categorias-mobile
    +above($tablet)
        display none
    width 100%
    margin-bottom 30px
    .center
        background $bege
        padding 12px
        a
            display inline-block
            opensans 14
            color $vermelho
            position relative
            margin-left 20px
            line-height 1.5
            &:before
                content '|'
                position absolute
                left -15px
                opensans 14
                color $vermelho
                cursor default
                pointer-events none
            &:first-child
                margin-left 0
                &:before
                    display none
            &.active
                text-decoration underline

.portfolio-show
    text-align center
    h1
        color $vermelho
        opensans 24 bold
        margin 0
        +tablet()
            font-size 20px
        +mobile()
            font-size 18px
    h2
        color $vermelho
        opensans 18
        margin .8em 0 2em
        +tablet()
            font-size 16px
        +mobile()
            font-size 14px
    .imagens
        img
            display block
            max-width 100%
            margin 0 auto
            + img
                margin-top 10px
    .voltar
        display inline-block
        opensans 14 bold
        background $bege
        color $vermelho
        padding 10px 25px
        transition background .3s, color .3s
        margin-top 25px
        &:hover
            background $vermelho
            color #fff
